html, body {
    background-color: #020300;
    color: #F4F5F5;
    font-family: 'Bitter', sans-serif;
    font-size: 24px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

main{
  position: relative;
}

/* keyframes!!! */

@keyframes tonext {
    75% {
      left: 0;
    }
    95% {
      left: 100%;
    }
    98% {
      left: 100%;
    }
    99% {
      left: 0;
    }
  }
  
@keyframes tostart {
    75% {
      left: 0;
    }
    95% {
      left: -300%;
    }
    98% {
      left: -300%;
    }
    99% {
      left: 0;
    }
 }
  
@keyframes snap {
    96% {
      scroll-snap-align: center;
    }
    97% {
      scroll-snap-align: none;
    }
    99% {
      scroll-snap-align: none;
    }
    100% {
      scroll-snap-align: center;
    }
}

@keyframes advertpop {
    0% {
        width: 0;
    }
    90% {
        width: 28vw;
    }
    94% {
        width: 26vw;
    }
    100% {
        width: 24vw;
    }
}

/* end keyframes */

/* begin landing page code */

header {
    height: 100vh;
}

.img-fluid {
    max-width: 100%;
    height: auto
}

.landingtext {
    position:relative;
    z-index: 2;
}

#title {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
}

#subtitle {
    font-weight: 400;
    font-size: 0.8rem;
    text-align: center;
    margin-bottom: 10vh;
}

#startbuttonbox {
    width: 40vw;
    padding: 20px 60px;
    background-color: #B53D48;
    transition: background-color 0.5s linear;
    border-radius: 70px;
    border: solid #B53D48;
}

#startbuttonbox:hover {
    background-color: #1E1F20;
}

#startbuttonbox:active {
    background-color: #1E1F20;
}

#startbuttontext {
    margin-right: auto;
    margin-left: auto;
}

#bylinetext {
    margin-top: 15vh;
}

#bylinebox {
    justify-content: center;
}

.explosion {
    position: absolute;
    z-index: 1;
}

#explosion1 {
    width: 40%;
    top: 0px;
    left: 50vw;
}

#explosion2 {
    width: 40%;
    top: 0px;
}

#explosion3 {
    width: 25%;
    top: 40vh;
    left: 70vw;
}

#explosion4 {
    width: 30%;
    top: 58vh;
    left: 0;
}

#explosion5 {
    width: 25%;
    top: 35vh;
    left: 10vw;
}

#sparkle1 {
    width: 20%;
    top: 85vh;
}

#sparkle2 {
    width: 20%;
    left: 70vw;
    top: 80vh;
}

#widesparkles {
    visibility: collapse;
}

/* landing page end */

/* begin carousel */

.carousel {
    height: 100vh;
    width: 100vw;
    scrollbar-color: transparent transparent;
}

.carousel-viewport {
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    height: 100%;
}

.carousel-slide {
    position: relative;
    z-index: 1;
    flex: 0 0 100%;
    width: 100%;
}

.carousel-slide-content {
    height: 80vh;
    overflow: hidden;
}

.carousel-snapper {
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: auto;
}

.carousel-button {
    width: 100px;
}

#storycontinuebutton {
    width: 60vw;
    display: inline-block;
    padding: 20px 40px;
    background-color: #B53D48;
    border-radius: 70px;
    border: solid #B53D48;
    transition: background-color 0.6s linear;
}

#storycontinuebutton:hover {
    background-color: #1E1F20;
}

#continuebutton {
    width: 45vw;
    margin-right: auto;
    margin-left: auto;
}

.introtextbox {
    justify-content: center;
    width: 100%;
}

.introtext {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20%;
    margin-right: 10vw;
    margin-left: 10vw;
    text-align: center;
}

#slide1img {
    width: 100%;
    margin-top: 26%;
    margin-left: 5%;
    z-index: 1;
}

.introcharacter {
    height: 28vh;
}

.introgamer {
    height: 32vh;
    margin-left: 5%;
    margin-right: 5%;
}

.background {
    position: relative;
    z-index: -1;
}

#slide2img {
    position: relative;
    width: 100%;
    margin-top: 30%;
    margin-left: 36%;
    align-items: center;
    justify-content: center;
}

#playinggif {
    height: 32vh;
}

.gamerplaying {
    height: 34vh;
    position: absolute;
    opacity: 0;
}


#slide3img {
    width: 100%;
    margin-top: 10%;
    text-align: center;
}

.runninggif {
    height: 28vh;
    text-align: center;
}

#slide4img {
    width: 100%;
    margin-top: 10%;
    margin-left: 5%;
    align-items: center;
    justify-content: center;
}

#finishline {
    height: 42vh;
}

#celebrationgif {
    height: 28vh;
}

#trophy {
    height: 20vh;
}

#slide5img {
    width: 100%;
    margin-top: 35%;
    margin-left: 38%;
}

#gamermoney {
    height: 32vh;
}

#slide6img {
    width: 100%;
    margin-top: 5%;
}

#gamermoneybag {
    height: 50vh;
    position: relative;
    right: 22vw;
}

#slide7img {
    width: 100%;
    margin-top: 10%;
}

#thisisalootbox {
    height: 50vh;
    position: relative;
    right: 22vw;
}

/* end carousel styling

begin main styling */

#progress-will-stick{
  position: relative;
  height: 100%;
  overflow:visible;
}

.progress {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    background-color: #020300;
}

.progress-container {
    width: 100%;
    height: 10px;
    background: #1E1F20;
}

.progress-bar {
    height: 10px;
    background: #B53D48;
    width: 0%;
}

p {
    font-size: 0.75rem;
}

a {
    text-decoration: none;
    color: #CCEF76;
    font-weight: 600;
    transition: color 0.6s linear;
}

a:hover {
    color: #76ebef;
}

.subhead {
    margin-top: 20%;
}

.lootbox {
    margin-top: 5%;
    width: 100vw;
}

.anotherboxforloot {
    width: 80vw;
    margin-right: auto;
    margin-left: auto;
}

.lootboximg {
    width: 100%;
}

.pullquotebox {
    margin-top: 10%;
    margin-bottom: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    border-top: #76ebef solid 2px;
    border-bottom: #76ebef solid 2px;
}

.attribox {
    margin-top: 5%;
    margin-bottom: 5%;
}

.pullquoteattrib {
    margin: 0;
    font-size: 0.6rem;
    color: #B2DEE8;
}

.margingraphics {
    display: none;
}

.midrollgraphics {
    display: inline;
    margin-right: auto;
    margin-left: auto;
}

.midrollrunner {
    width: 13vw;
    margin: 0 3%;
}

#midrollgamer2 {
    width: 13vw;
}

.midrollcoin {
    width: 7vw;
    margin-top: 10%;
    margin-bottom: 15%;
    margin-left: 2%;
    margin-right: 2%;
}

#lastlootbox {
    width: 40vw;
    margin-right: auto;
    margin-left: auto;
}

/* end main styling

begin footer styling */

footer {
    margin-top: 20%;
    padding-left: 10%;
    width: 100vw;
    border-top:#F4F5F5 solid 2px;
}

#footerbox {
    width: 80vw;
}

.footertext {
    font-size: 0.7rem;
}

#midrollme {
    width: 30vw;
    margin-top: 10%;
}


/*************** THIS IS THE FORMATTING FOR MEDIUM SCREENS ******************/

@media screen and (min-width:786px) and (max-width:1199px) {
    p {
        font-size: 1rem;
        line-height: 140%;
        margin-bottom: 5%;
    }
    
    #subtitle {
        font-size: 1.2rem;
    }

    #explosion1{
        width: 20%;
        left: 70vw;
    }

    #explosion2 {
        width: 15%;
        left: 10vw;
    }

    #explosion3 {
        width: 10%;
        left: 80vw;
    }

    #explosion4 {
        width: 20%;
        top: 50vh;
        left: 0;
    }

    #explosion5 {
        width: 8%;
        top: 35vh;
        left: 10vw;
    }

    #sparkle1 {
        width: 5%;
        left: 30vw;
        top: 10vh;
    }

    #sparkle2 {
        width: 5%;
        left: 70vw;
        top: 70vh;
    }

    #widesparkles {
        visibility: visible;
    }

    #sparkle3 {
        width: 5%;
        top: 80vh;
        left: 82vw;
    }

    #sparkle4 {
        width: 7%;
        top: 6vh;
        left: 60vw;
    }

    #sparkle5 {
        width: 5%;
        top: 50vh;
        left: 28vw;
    }

    #startbuttonbox {
        width: 250px;
    }

    #bylinetext {
        margin-top: 10vh;
        justify-content: center;
    }

    .introtext {
        display: flex;
        flex-wrap: wrap;
        font-size: 1.2rem;
        margin-top: 5%;
        justify-content: center;
    }

    .snapper-holder {
        width: 100%;
        justify-content: center;
    }

    .carousel-snapper {
        margin-right: auto;
        margin-left: auto;
        justify-content: center;
        text-align: center;
        width: 100%;
        height: auto;
    }
    
    .carousel-button {
        width: 100px;
        margin: auto;
    }

    #storycontinuebutton {
        width: 40vw;
        display: inline-block;
        padding: 12px 20px;
        background-color: #B53D48;
        border-radius: 70px;
        border: solid #B53D48;
        transition: background-color 0.6s linear;
    }
    
    #storycontinuebutton:hover {
        background-color: #1E1F20;
    }
    
    #continuebutton {
        width: 20vw;
        margin-right: auto;
        margin-left: auto;
    }

    #slide1img {
        width: 100%;
        margin-top: 6%;
        margin-left: 25%;
        justify-content: center;
    }

    .introcharacter {
        height: 40vh;
    }
    
    .introgamer {
        height: 43vh;
        margin-left: 13%;
        margin-right: 13%;
    }

    #slide2img {
        width: 100%;
        margin-top: 8%;
        margin-left: 46%;
    }
    
    #playinggif {
        height: 42vh;
    }

    #gamerplaying {
        height: 42vh;
    }

    #slide3img {
        width: 100%;
        margin-top: 8%;
    }
    
    .runninggif {
        height: 40vh;
        margin-left: 4%;
        margin-right: 4%;
    }

    #slide4img {
        width: 100%;
        margin-top: 2%;
        margin-left: 28%;
    }

    #finishline {
        height: 52vh;
        margin-right: 8%;
    }

    #celebrationgif {
        height: 40vh;
        margin-right: 8%;
    }

    #trophy {
        height: 30vh;
    }

    #slide5img {
        width: 100%;
        margin-top: 12%;
        margin-left: 48%;
    }
    
    #gamermoney {
        height: 34vh;
    }

    #slide6img {
        width: 100%;
        margin-top: 5%;
    }
    
    #gamermoneybag {
        height: 50vh;
        position: relative;
        left: 26vw;
    }
    
    #slide7img {
        width: 100%;
        margin-top: 0;
    }

    #thisisalootbox {
        height: 52vh;
        margin-right: 45%;
        position: relative;
        left: 26vw;
    }

    .lootbox {
        margin-top: 10%;
        width: 100vw;
    }

    #anotherboxforloot {
        width: 30vw;
        margin-right: auto;
        margin-left: auto;
    }

    .lootboxbox {
        width: 30vw;
    }

    .lootboximg {
        width: 100%;
    }

    .pullquotebox {
        margin-top: 5%;
        margin-bottom: 5%;
        padding-top: 3%;
        padding-bottom: 3%;
        border-top: #76ebef solid 4px;
        border-bottom: #76ebef solid 4px;
    }

    .attribox {
        margin-top: 5%;
        margin-bottom: 5%;
    }
    
    .pullquoteattrib {
        font-size: 0.6rem;
        color: #B2DEE8;
        margin: 0;
    }

    .midrollgraphics {
        display: inline;
        margin-right: auto;
        margin-left: auto;
    }

    .midrollmobile {
        display: none;
    }
    
    .midrollrunner {
        width: 8vw;
        margin: 0 6%;
    }

    #midrollgamer2 {
        width: 5vw;
    }
    
    .midrollcoin {
        width: 3vw;
        margin-bottom: 15%;
        margin-left: 4%;
        margin-right: 4%;
    }

    .margingraphics {
        display: inherit;
        height: 5px;
    }

    #marginad1 {
        width: 5vw;
        position: relative;
        bottom: 280vh;
        margin-left: 5%;
    }

    #marginad2 {
        width: 8vw;
        position: relative;
        bottom: 300vh;
        margin-left: 12%;
    }
    
    #marginad3 {
        width: 5vw;
        position: relative;
        bottom: 295vh;
        margin-left: 18%;
    }

    #marginad4 {
        width: 8vw;
        position: relative;
        bottom: 280vh;
        margin-left: 8%;
    }

    #marginad5 {
        width: 5vw;
        position: relative;
        bottom: 278vh;
        margin-left: 75%;
    }

    #marginad6 {
        width: 8vw;
        position: relative;
        bottom: 310vh;
        margin-left: 85%;
    }

    #marginad7 {
        width: 5vw;
        position: relative;
        bottom: 260vh;
        margin-left: 88%;
    }

    #marginad8 {
        width: 8vw;
        position: relative;
        bottom: 300vh;
        margin-left: 90%;
    }

    .margincoin {
        width: 4vw;
    }

    #coin1 {
        position: relative;
        bottom: 690vh;
        margin-left: 10%;
    }

    #coin2 {
        position: relative;
        bottom: 650vh;
        margin-left: 13%;
    }

    #coin3 {
        position: relative;
        bottom: 570vh;
        margin-left: 18%;
    }

    #coin4 {
        position: relative;
        bottom: 709vh;
        margin-left: 75%;
    }

    #coin5 {
        position: relative;
        bottom: 570vh;
        margin-left: 83%;
    }

    #coin6 {
        position: relative;
        bottom: 600vh;
        margin-left: 90%;
    }

    #coin7 {
        position: relative;
        bottom: 650vh;
        margin-left: 75%;
    }

    #coin8 {
        position: relative;
        bottom: 700vh;
        margin-left: 20%;
    }

    #coin9 {
        position: relative;
        bottom: 590vh;
        margin-left: 14%;
    }

    #coin10 {
        position: relative;
        bottom: 700vh;
        margin-left: 8%;
    }

    #coin11 {
        position: relative;
        bottom: 695vh;
        margin-left: 18%;
    }

    #coin12 {
        position: relative;
        bottom: 720vh;
        margin-left: 80%;
    }

    #coin13 {
        position: relative;
        bottom: 770vh;
        margin-left: 89%;
    }

    #coin14 {
        position: relative;
        bottom: 770vh;
        margin-left: 87%;
    }

    #coin15 {
        position: relative;
        bottom: 690vh;
        margin-left: 10%;
    }

    #coin16 {
        position: relative;
        bottom: 706vh;
        margin-left: 14%;
    }

    #coin17 {
        position: relative;
        bottom: 698vh;
        margin-left: 3%;
    }

    #coin18 {
        position: relative;
        bottom: 700vh;
        margin-left: 11%;
    }

    #coin19 {
        position: relative;
        bottom: 686vh;
        margin-left: 87%;
    }

    #coin20 {
        position: relative;
        bottom: 703vh;
        margin-left: 82%;
    }

    #coin21 {
        position: relative;
        bottom: 714vh;
        margin-left: 90%;
    }

    #coin22 {
        position: relative;
        bottom: 700vh;
        margin-left: 78%;
    }

    #coin23 {
        position: relative;
        bottom: 690vh;
        margin-left: 89%;
    }

    #coin24 {
        position: relative;
        bottom: 800vh;
        margin-left: 84%;
    }

    #coin25 {
        position: relative;
        bottom: 800vh;
        margin-left: 78%;
    }

    #coin26 {
        position: relative;
        bottom: 830vh;
        margin-left: 5%;
    }

    #coin27 {
        position: relative;
        bottom: 826vh;
        margin-left: 4%;
    }

    #coin28 {
        position: relative;
        bottom: 835vh;
        margin-left: 14%;
    }

    #coin29 {
        position: relative;
        bottom: 814vh;
        margin-left: 94%;
    }

    .rightsideimg {
        width: 25vw;
        position: relative;
        right: 0;
    }

    #midrollme {
        width: 10vw;
        margin-left: auto;
        margin-right: auto;
    }
    
    /* end main styling
    
    begin footer styling */
    
    footer {
        margin-top: 20%;
        padding-left: 10%;
        width: 100vw;
        border-top:#F4F5F5 solid 2px;
    }
    
    #footerbox {
        width: 50vw;
    }
    
    .footertext {
        font-size: 0.7rem;
    }
    
    .footertext-small {
        font-size: 0.5rem;
    }
}

/*********************** BIG SCREEN FORMATTING HERE ***********************/

@media screen and (min-width:1200px) {

    p {
        font-size: 1rem;
        line-height: 150%;
        margin-bottom: 5%;
    }

    #title {
        margin-left: auto;
        margin-right: auto;
        margin-top: 20vh;
        width: 40vw;
    }

    #subtitle {
        font-size: 1.4rem;
    }

    #explosion1{
        width: 10%;
        left: 70vw;
    }

    #explosion2 {
        width: 15%;
        top: 10vh;
        left: 10vw;
    }

    #explosion3 {
        width: 8%;
        left: 80vw;
    }

    #explosion4 {
        width: 15%;
        top: 60vh;
        left: 0;
    }

    #explosion5 {
        width: 10%;
        top: 30vh;
        left: 10vw;
    }

    #sparkle1 {
        width: 5%;
        left: 30vw;
        top: 10vh;
    }

    #sparkle2 {
        width: 5%;
        left: 70vw;
        top: 70vh;
    }

    #widesparkles {
        visibility: visible;
    }

    #sparkle3 {
        width: 5%;
        top: 80vh;
        left: 82vw;
    }

    #sparkle4 {
        width: 7%;
        top: 6vh;
        left: 60vw;
    }

    #sparkle5 {
        width: 5%;
        top: 50vh;
        left: 28vw;
    }

    #startbuttonbox {
        width: 250px;
    }

    #bylinetext {
        margin-top: 10vh;
        justify-content: center;
    }

    /* end landing page 

    begin carousel  */

    .introtext {
        display: flex;
        flex-wrap: wrap;
        font-size: 1.2rem;
        margin-top: 5%;
        justify-content: center;
    }

    .snapper-holder {
        width: 100%;
        justify-content: center;
    }

    .carousel-snapper {
        width: 50vw;
        justify-content: center;
    }

    #storycontinuebutton {
        width: 30vw;
        display: inline-block;
        padding: 12px 30px;
        background-color: #B53D48;
        border-radius: 70px;
        border: solid #B53D48;
        transition: background-color 0.6s linear;
    }
    
    #storycontinuebutton:hover {
        background-color: #1E1F20;
    }
    
    #continuebutton {
        width: 20vw;
        margin-right: auto;
        margin-left: auto;
    }
    
    .carousel-button {
        width: 100px;
        margin: auto;
    }

    #slide1img {
        width: 100%;
        margin-top: 6%;
        margin-left: 25%;
        justify-content: center;
    }

    .introcharacter {
        height: 40vh;
    }
    
    .introgamer {
        height: 43vh;
        margin-left: 13%;
        margin-right: 13%;
    }

    #slide2img {
        width: 100%;
        margin-top: 8%;
        margin-left: 46%;
    }
    
    #playinggif {
        height: 42vh;
    }

    #gamerplaying {
        height: 42vh;
    }

    #slide3img {
        width: 100%;
        margin-top: 8%;
    }
    
    .runninggif {
        height: 40vh;
        margin-left: 4%;
        margin-right: 4%;
    }

    #slide4img {
        width: 100%;
        margin-top: 2%;
        margin-left: 28%;
    }

    #finishline {
        height: 52vh;
        margin-right: 8%;
    }

    #celebrationgif {
        height: 40vh;
        margin-right: 8%;
    }

    #trophy {
        height: 30vh;
    }

    #slide5img {
        width: 100%;
        margin-top: 12%;
        margin-left: 48%;
    }
    
    #gamermoney {
        height: 34vh;
    }

    #slide6img {
        width: 100%;
        margin-top: 5%;
    }
    
    #gamermoneybag {
        height: 60vh;
        position: relative;
        bottom: 10vh;
        left: 30vw;
    }
    
    #slide7img {
        width: 100%;
        margin-top: 0%;
    }

    #thisisalootbox {
        height: 52vh;
        margin-right: 45%;
        position: relative;
        left: 33vw;
    }

    .lootbox {
        margin-top: 10%;
        width: 100vw;
        text-align: center;
    }

    .anotherboxforloot {
        width: 30vw;
        margin-right: auto;
        margin-left: auto;
    }

    .lootboxbox {
        width: 20vw;
    }

    .lootboximg {
        width: 100%;
    }

    .pullquotebox {
        margin-top: 5%;
        margin-bottom: 5%;
        padding-top: 3%;
        padding-bottom: 3%;
        border-top: #76ebef solid 4px;
        border-bottom: #76ebef solid 4px;
    }

    .attribox {
        margin-top: 10%;
    }
    
    .pullquoteattrib {
        font-size: 0.75rem;
        color: #B2DEE8;
        margin: 0;
    }

    .midrollgraphics {
        display: inline;
        margin-right: auto;
        margin-left: auto;
    }

    .midrollmobile {
        display: none;
    }

    .midrollrunner {
        width: 6vw;
        margin: 0 8%;
    }

    #midrollgamer2 {
        width: 6vw;
    }
    
    .midrollcoin {
        width: 3vw;
        margin-bottom: 10%;
        margin-left: 6%;
        margin-right: 6%;
    }

    .margingraphics {
        display: inherit;
        height: 5px;
    }

    .rightsideimg {
        width: 25vw;
    }

    .leftsideimg {
        width: 25vw;
    }

    #marginad1 {
        width: 5vw;
        position: relative;
        bottom: 380vh;
        margin-left: 5%;
    }

    #marginad2 {
        width: 8vw;
        position: relative;
        bottom: 400vh;
        margin-left: 12%;
    }
    
    #marginad3 {
        width: 5vw;
        position: relative;
        bottom: 395vh;
        margin-left: 18%;
    }

    #marginad4 {
        width: 8vw;
        position: relative;
        bottom: 380vh;
        margin-left: 8%;
    }

    #marginad5 {
        width: 5vw;
        position: relative;
        bottom: 378vh;
        margin-left: 75%;
    }

    #marginad6 {
        width: 8vw;
        position: relative;
        bottom: 410vh;
        margin-left: 85%;
    }

    #marginad7 {
        width: 5vw;
        position: relative;
        bottom: 360vh;
        margin-left: 88%;
    }

    #marginad8 {
        width: 8vw;
        position: relative;
        bottom: 400vh;
        margin-left: 90%;
    }

    .margincoin {
        width: 4vw;
    }

    #coin1 {
        position: relative;
        bottom: 540vh;
        margin-left: 10%;
    }

    #coin2 {
        position: relative;
        bottom: 520vh;
        margin-left: 13%;
    }

    #coin3 {
        position: relative;
        bottom: 450vh;
        margin-left: 18%;
    }

    #coin4 {
        position: relative;
        bottom: 585vh;
        margin-left: 75%;
    }

    #coin5 {
        position: relative;
        bottom: 520vh;
        margin-left: 83%;
    }

    #coin6 {
        position: relative;
        bottom: 500vh;
        margin-left: 90%;
    }

    #coin7 {
        position: relative;
        bottom: 520vh;
        margin-left: 75%;
    }

    #coin8 {
        position: relative;
        bottom: 700vh;
        margin-left: 20%;
    }

    #coin9 {
        position: relative;
        bottom: 560vh;
        margin-left: 14%;
    }

    #coin10 {
        position: relative;
        bottom: 560vh;
        margin-left: 8%;
    }

    #coin11 {
        position: relative;
        bottom: 475vh;
        margin-left: 18%;
    }

    #coin12 {
        position: relative;
        bottom: 630vh;
        margin-left: 80%;
    }

    #coin13 {
        position: relative;
        bottom: 530vh;
        margin-left: 89%;
    }

    #coin14 {
        position: relative;
        bottom: 520vh;
        margin-left: 87%;
    }

    #coin15 {
        position: relative;
        bottom: 590vh;
        margin-left: 10%;
    }

    #coin16 {
        position: relative;
        bottom: 435vh;
        margin-left: 14%;
    }

    #coin17 {
        position: relative;
        bottom: 598vh;
        margin-left: 3%;
    }

    #coin18 {
        position: relative;
        bottom: 600vh;
        margin-left: 11%;
    }

    #coin19 {
        position: relative;
        bottom: 486vh;
        margin-left: 87%;
    }

    #coin20 {
        position: relative;
        bottom: 603vh;
        margin-left: 82%;
    }

    #coin21 {
        position: relative;
        bottom: 514vh;
        margin-left: 90%;
    }

    #coin22 {
        position: relative;
        bottom: 700vh;
        margin-left: 78%;
    }

    #coin23 {
        position: relative;
        bottom: 690vh;
        margin-left: 89%;
    }

    #coin24 {
        position: relative;
        bottom: 800vh;
        margin-left: 84%;
    }

    #coin25 {
        position: relative;
        bottom: 800vh;
        margin-left: 78%;
    }

    #coin26 {
        position: relative;
        bottom: 830vh;
        margin-left: 5%;
    }

    #coin27 {
        position: relative;
        bottom: 826vh;
        margin-left: 4%;
    }

    #coin28 {
        position: relative;
        bottom: 835vh;
        margin-left: 14%;
    }

    #coin29 {
        position: relative;
        bottom: 814vh;
        margin-left: 94%;
    }

    #lastlootbox {
        width: 10vw;
        margin-right: auto;
        margin-left: auto;
    }

    #midrollme {
        width: 10vw;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20%;
    }
    
    /* end main styling
    
    begin footer styling */
    
    footer {
        margin-top: 10%;
        width: 100vw;
        border-top:#F4F5F5 solid 2px;
    }
    
    #footerbox {
        width: 70vw;
        margin-right: auto;
        margin-left: auto;
    }
    
    .footertext {
        font-size: 0.6rem;
        margin: 2% 0 2% 0;
    }

}