html, body {
    background-color: #020300;
    color: #F4F5F5;
    font-family: 'Bitter', sans-serif;
    font-size: 24px;
    overflow-x: hidden;
    scroll-behavior: smooth
}

/* keyframes!!! */

@keyframes tonext {
    75% {
      left: 0;
    }
    95% {
      left: 100%;
    }
    98% {
      left: 100%;
    }
    99% {
      left: 0;
    }
  }
  
@keyframes tostart {
    75% {
      left: 0;
    }
    95% {
      left: -300%;
    }
    98% {
      left: -300%;
    }
    99% {
      left: 0;
    }
 }
  
@keyframes snap {
    96% {
      scroll-snap-align: center;
    }
    97% {
      scroll-snap-align: none;
    }
    99% {
      scroll-snap-align: none;
    }
    100% {
      scroll-snap-align: center;
    }
}

@keyframes advertpop {
    0% {
        width: 0;
    }
    90% {
        width: 28vw;
    }
    94% {
        width: 26vw;
    }
    100% {
        width: 24vw;
    }
}

/* end keyframes */

/* begin landing page code */

header {
    height: 100vh;
}

.img-fluid {
    max-width: 100%;
    height: auto
}

.landingtext {
    position:relative;
    z-index: 2;
}

#title {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
}

#subtitle {
    font-weight: 400;
    font-size: 0.8rem;
    text-align: center;
    margin-bottom: 10vh;
}

#startbuttonbox {
    width: 200px;
    padding: 25px 75px;
    background-color: #B53D48;
    border-radius: 70px;
    border: solid #B53D48;
    transition: background-color 0.6s linear;
}

#startbuttonbox:hover {
    background-color: #1E1F20;
}

#startbuttontext {
    margin-right: auto;
    margin-left: auto;
}

#bylinetext {
    margin-top: 15vh;
}

#bylinebox {
    justify-content: center;
}

.explosion {
    position: absolute;
    z-index: 1;
}

#explosion1 {
    width: 40%;
    top: 0px;
    left: 50vw;
}

#explosion2 {
    width: 40%;
    top: 0px;
}

#explosion3 {
    width: 25%;
    top: 40vh;
    left: 70vw;
}

#explosion4 {
    width: 30%;
    top: 64vh;
    left: 0;
}

#sparkle1 {
    width: 20%;
}

#sparkle2 {
    width: 20%;
    left: 70vw;
    top: 70vh;
}

#widesparkles {
    visibility: collapse;
}

/* landing page end */

/* begin carousel */

.carousel {
    height: 100vh;
    width: 100vw;
    scrollbar-color: transparent transparent;
}

.carousel-viewport {
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.carousel-slide {
    position: relative;
    z-index: 1;
    flex: 0 0 100%;
    width: 100%;
}

.carousel-slide-content {
    height: 50vh;
}

.carousel-snapper {
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: auto;
}

.carousel-button {
    width: 100px;
}

.introtextbox {
    justify-content: center;
    width: 100%;
}

.introtext {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20%;
    margin-right: 10vw;
    margin-left: 10vw;
    text-align: center;
}

#slide1img {
    width: 100%;
    margin-top: 26%;
    margin-left: 17%;
    z-index: 1;
}

.introcharacter {
    height: 28vh;
}

.introgamer {
    height: 32vh;
    margin-left: 12%;
    margin-right: 12%;
}

.background {
    position: relative;
    z-index: -1;
}

/* .mountains {
    height: 60vh;
    position: relative;
    bottom: 55vh;
    right: 20vw;
} */

#slide2img {
    position: relative;
    width: 100%;
    margin-top: 30%;
    margin-left: 36%;
    align-items: center;
    justify-content: center;
}

/* #playinggif {
    height: 32vh;
} */

.gamerplaying {
    height: 34vh;
    position: absolute;
    opacity: 0;
}


#slide3img {
    width: 100%;
    margin-top: 30%;
    margin-left: 10%;
    align-items: center;
    justify-content: center;
}

.runninggif {
    height: 28vh;
}

#slide4img {
    width: 100%;
    margin-top: 10%;
    margin-left: 10%;
    align-items: center;
    justify-content: center;
}

#finishline {
    height: 40vh;
    margin-right: 5%;
}

#celebrationgif {
    height: 28vh;
    margin-right: 5%;
}

#trophy {
    height: 20vh;
}

#slide5img {
    width: 100%;
    margin-top: 20%;
    margin-left: 40%;
}

#gamermoney {
    height: 32vh;
}

#slide6img {
    width: 100%;
    margin-top: 5%;
    margin-left: 10%;
}

#gamermoneybag {
    height: 32vh;
    margin-left: 30%;
    margin-top: 17%;
}

.ad {
    position: relative;
    z-index: 1;
    /* animation: 0.6s 1 advertpop;
    animation-delay: 1s; */
}

#ad1 {
    width: 20vw;
    bottom: 20vh;
    right: 40vw;
} 

#ad2 {
   width: 30vw;
   bottom: 30vh;
   right: 38vw;
}

#ad3 {
    width: 20vw;
    bottom: 34vh;
    left: 52vw;
}

#ad4 {
    width: 30vw;
    bottom: 25vh;
    left: 20vw;
}

#ad5 {
    width: 20vw;
}

p {
    font-size: 0.9rem;
}

a {
    text-decoration: none;
    color: #80A041;
    font-weight: 600;
    transition: color 0.6s linear;
}

a:hover {
    color: #CCEF76;
}

@media screen and (min-width:768px) {
    #subtitle {
        font-size: 1.2rem;
    }

    #explosion1{
        width: 20%;
        left: 70vw;
    }

    #explosion2 {
        width: 15%;
        left: 10vw;
    }

    #explosion3 {
        width: 10%;
        left: 80vw;
    }

    #explosion4 {
        width: 20%;
        top: 50vh;
        left: 0;
    }

    #sparkle1 {
        width: 5%;
        left: 30vw;
        top: 10vh;
    }

    #sparkle2 {
        width: 5%;
        left: 70vw;
        top: 70vh;
    }

    #widesparkles {
        visibility: visible;
    }

    #sparkle3 {
        width: 5%;
        top: 80vh;
        left: 82vw;
    }

    #sparkle4 {
        width: 7%;
        top: 6vh;
        left: 60vw;
    }

    #sparkle5 {
        width: 5%;
        top: 50vh;
        left: 28vw;
    }

    #startbuttonbox {
        width: 250px;
    }

    #bylinetext {
        margin-top: 10vh;
        justify-content: center;
    }

    /* end landing page 

    begin carousel  */

    .introtext {
        display: flex;
        flex-wrap: wrap;
        font-size: 1.2rem;
        margin-top: 5%;
        justify-content: center;
    }

    .snapper-holder {
        width: 100%;
        justify-content: center;
    }

    .carousel-snapper {
        margin-top: 20vh;
        width: 50vw;
        justify-content: center;
    }
    
    .carousel-button {
        width: 100px;
        margin: auto;
    }
    
    /* .carousel-next {
        position: relative;
        left: 250px;
    }

    .carousel-prev {
        position: relative;
    } */

    #slide1img {
        width: 100%;
        margin-top: 6%;
        margin-left: 25%;
        justify-content: center;
    }

    .introcharacter {
        height: 40vh;
    }
    
    .introgamer {
        height: 43vh;
        margin-left: 13%;
        margin-right: 13%;
    }

    #slide2img {
        width: 100%;
        margin-top: 8%;
        margin-left: 46%;
    }
    
    /* #playinggif {
        height: 42vh;
    } */

    #gamerplaying {
        height: 42vh;
    }

    #slide3img {
        width: 100%;
        margin-top: 8%;
        margin-left: 20%;
    }
    
    .runninggif {
        height: 40vh;
        margin-left: 4%;
        margin-right: 4%;
    }

    #slide4img {
        width: 100%;
        margin-top: 2%;
        margin-left: 28%;
    }

    #finishline {
        height: 52vh;
        margin-right: 8%;
    }

    #celebrationgif {
        height: 40vh;
        margin-right: 8%;
    }

    #trophy {
        height: 30vh;
    }

    #slide5img {
        width: 100%;
        margin-top: 8%;
        margin-left: 46%;
    }
    
    #gamermoney {
        height: 40vh;
    }


}