html, body {
    background-color: #020300;
    color: #F4F5F5;
    font-family: 'Bitter', sans-serif;
    font-size: 24px;
    overflow-x: hidden;
    scroll-behavior: smooth
}

/* keyframes!!! */

@keyframes tonext {
    75% {
      left: 0;
    }
    95% {
      left: 100%;
    }
    98% {
      left: 100%;
    }
    99% {
      left: 0;
    }
  }
  
@keyframes tostart {
    75% {
      left: 0;
    }
    95% {
      left: -300%;
    }
    98% {
      left: -300%;
    }
    99% {
      left: 0;
    }
 }
  
@keyframes snap {
    96% {
      scroll-snap-align: center;
    }
    97% {
      scroll-snap-align: none;
    }
    99% {
      scroll-snap-align: none;
    }
    100% {
      scroll-snap-align: center;
    }
}

/* end keyframes */

/* begin landing page code */

header {
    height: 100vh;
}

.img-fluid {
    max-width: 100%;
    height: auto
}

.landingtext {
    position:relative;
    z-index: 2;
}

#title {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
}

#subtitle {
    font-weight: 400;
    font-size: 0.8rem;
    text-align: center;
    margin-bottom: 10vh;
}

#startbuttonbox {
    width: 200px;
    padding: 25px 75px;
    background-color: #B53D48;
    border-radius: 70px;
    border: solid #B53D48;
    transition: background-color 0.6s linear;
}

#startbuttonbox:hover {
    background-color: #1E1F20;
}

#startbuttontext {
    margin-right: auto;
    margin-left: auto;
}

#bylinetext {
    margin-top: 15vh;
}

#bylinebox {
    justify-content: center;
}

.explosion {
    position: absolute;
    z-index: 1;
}

#explosion1 {
    width: 50%;
    height: auto;
    top: 0px;
    left: 40vw;
}

#explosion2 {
    width: 40%;
    top: 0px;
}

#explosion3 {
    width: 25%;
    top: 40vh;
    left: 70vw;
}

#explosion4 {
    width: 30%;
    top: 37vh;
    left: 0;
}


/* landing page end */

/* begin carousel */

.carousel {
    height: 100vh;
    width: 100vw;
    scrollbar-color: transparent transparent;
}

.carousel-viewport {
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.carousel-slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
}

.carousel-snapper {
    margin-top: 100px;
    width: 100%;
    height: auto;
}

.carousel-button {
    width: 100px;
}

.carousel-next {
    position: relative;
    left: 250px;
}

.introtextbox {
    justify-content: center;
    width: 100%;
}

.introtext {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20%;
    margin-right: 10vw;
    margin-left: 10vw;
    text-align: center;
}

#slide1img {
    width: 100%;
    margin-top: 30%;
    margin-left: 10%;
    align-items: center;
}

.introcharacter {
    height: 20vh;
}

.introgamer {
    height: 23vh;
}

#slide3img {
    width: 100%;
    margin-top: 20%;
    margin-left: 10%;
    align-items: center;
    justify-content: center;
}

.runninggif {
    height: 25vh;
}

p {
    font-size: 0.9rem;
}

a {
    text-decoration: none;
    color: #80A041;
    font-weight: 600;
    transition: color 0.6s linear;
}

a:hover {
    color: #CCEF76;
}

@media screen and (min-width:768px) {
    #subtitle {
        font-size: 1.2rem;
    }

    #explosion1{
        width: 20%;
        left: 70vw;
    }

    #explosion2 {
        width: 15%;
        left: 10vw;
    }

    #explosion3 {
        width: 10%;
        left: 80vw;
    }

    #explosion4 {
        width: 20%;
        top: 50vh;
        left: 0;
    }

    #startbuttonbox {
        width: 250px;
    }

    #bylinetext {
        margin-top: 10vh;
        justify-content: center;
    }

    /* end landing page 

    begin carousel  */

    .introtext {
        display: flex;
        flex-wrap: wrap;
        font-size: 1.2rem;
        margin-top: 5%;
        justify-content: center;
    }

    .carousel-snapper {
        margin-top: 100px;
        width: 100%;
        height: auto;
    }
    
    .carousel-button {
        width: 100px;
        justify-content: center;
    }
    
    .carousel-next {
        position: relative;
        left: 250px;
    }

    #slide1img {
        width: 100%;
        margin-top: 5%;
        margin-left: 25%;
        justify-content: center;
    }

    .introcharacter {
        height: 40vh;
    }
    
    .introgamer {
        height: 43vh;
    }

    #slide3img {
        width: 100%;
        margin-top: 5%;
        margin-left: 30%;
        align-items: center;
        justify-content: center;
    }
    
    .runninggif {
        height: 42vh;
    }

    

}